body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222222;
}

canvas {
  cursor: default;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast; /* webkit */
  image-rendering: -moz-crisp-edges; /* Firefox */
}

p {
  color: white;
}

button {
  image-rendering: crisp-edges;
  border: none !important;
  width: 300px !important;
  height: 60px !important;
  background: url("./assets/images/ui_button.png") no-repeat !important;
  background-size: 300px 60px !important;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24;
}

button:hover {
  image-rendering: crisp-edges;
  border: none !important;
  width: 300px !important;
  height: 60px !important;
  background: url("./assets/images/ui_button_hovered.png") no-repeat !important;
  background-size: 300px 60px !important;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24;
}

input[type="button"] {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#loading_element {
  font-size: 42;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
